{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "logo": {
    "type": "kitty",
    "source": "emblem.png",
    "width": 28,
    "height": 14,
    "padding": {
      "top": 5,
      "right": 5,
      "left": 3
    }
  },
  "display": {
    "separator": "  ",
    "color": {
      "separator": "{{colors.on_surface.default.hex}}"
    }
  },
  "modules": [
    "break",
    {
      "type": "title",
      "format": "{1}",
      "color": {
        "user": "{{colors.primary.default.hex}}"
      }
    },
    "break",
    {
      "type": "os",
      "key": "󱄅 os ",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "cpu",
      "key": " cpu",
      "keyColor": "{{colors.tertiary.default.hex}}"
    },
    {
      "type": "gpu",
      "key": "gpu",
      "keyColor": "{{colors.secondary_container.default.hex}}"
    },
    {
      "type": "memory",
      "key": "󰘚 ram",
      "keyColor": "{{colors.secondary.default.hex}}"
    },
    {
      "type": "packages",
      "key": "pkgs",
      "keyColor": "{{colors.tertiary_container.default.hex}}"
    },
    {
      "type": "os",
      "key": "age",
      "format": "{age}",
      "keyColor": "{{colors.error.default.hex}}"
    },
    {
      "type": "shell",
      "key": " sh ",
      "keyColor": "{{colors.inverse_primary.default.hex}}"
    },
    "break",
    {
      "type": "colors",
      "symbol": "circle"
    }
  ]
}
