<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Aether</vendor>
  <vendor_url>https://github.com/mora1ss/aether</vendor_url>
  <action id="org.aether.sddm.apply">
    <description>Update the Aether SDDM login theme</description>
    <description xml:lang="pt">Atualizar o tema de login SDDM do Aether</description>
    <message>Authentication is required to update the login screen theme</message>
    <message xml:lang="pt">É necessária autenticação para atualizar o tema do ecrã de login</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/aether/sddm-apply</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
