polkit.addRule(function(action, subject) {
    if (action.id == "org.aether.sddm.apply" && subject.local && subject.active) {
        return polkit.Result.YES;
    }
});
